<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> przejazd kierowcy</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @driver_ride, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @driver_ride.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @driver_ride.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.label :driver %>
        <%= f.select :user_id, @drivers.collect {|a| [a.try(:friendly_name), a.try(:id)]}, {}, class: 'form-control' -%>
        <%= f.label :ride %>
        <%= f.select :ride_id, @rides.collect {|a| [a.try(:friendly_name), a.try(:id)]}, {}, class: 'form-control' -%>
        <%= f.label :date %>
        <%= f.date_select :date, {start_year: Time.now.year, end_year: Time.now.year + 1}, {:class => 'form-control'} %>
        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', driver_rides_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>