<hr style="margin:40px 0;">

<h1 style="float:left;">Przejazdy kierowców</h1>
<%= link_to 'Dodaj', new_driver_ride_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Przejazd</th>
    <th>Kierowca</th>
    <th>Data</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @driver_ride.order(:id).each do |driver_ride| %>
    <tr>
      <td class="clickable-row" data-href='<%= driver_ride_path(driver_ride) %>'><%= driver_ride.ride.try(:friendly_name) %></td>
      <td class="clickable-row" data-href='<%= driver_ride_path(driver_ride) %>'><%= driver_ride.user.try(:friendly_name) %></td>
      <td class="clickable-row" data-href='<%= driver_ride_path(driver_ride) %>'><%= driver_ride.date %></td>
      <td><% if current_user.try(:secretary?) or current_user.try(:owner?)%><%= link_to 'Edycja', edit_driver_ride_path(driver_ride), class: 'btn btn-default btn-sm' %></td><% end %>
      <td><% if current_user.try(:secretary?) or current_user.try(:owner?)%><%= link_to 'Usuń', driver_ride_path(driver_ride), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td><% end %>
    </tr>
  <% end %>
</table>