<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h3><strong>Przejazd</strong></h3>
    <h4><%= @driver_ride.try(:ride).try(:friendly_name) %></h4>
    <hr />
    <h3><strong>Kierowca</strong></h3>
    <h4><%= @driver_ride.try(:ride).try(:friendly_name) %></h4>
    <hr />
    <h3><strong>Data</strong></h3>
    <h4><%= @driver_ride.try(:date) %></h4>
    <hr />
    <br />

    <% if current_user.try(:secretary?) or current_user.try(:owner?)%>
    <%= link_to 'Edycja', edit_driver_ride_path(@driver_ride), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', driver_ride_path(@driver_ride), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>
    <% end %>
    <%= link_to 'Powrót', driver_rides_path, class: 'btn btn-default' %>
  </div>
</div>