<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title">Edytuj dane</h1>
    <hr>
    <div class="account-wall">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f|  %>
        <%= devise_error_messages! %>

        <%= f.label :email%>

        <%= f.text_field :email, class: "form-control"%>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <%= f.label :password %><% if @validatable %><i>(minimalna liczba znaków: <%= @minimum_password_length %>)</i><% end %>

        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>


        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        <% if current_user.try(:owner?) %>
          <%= f.check_box :driver %> <%= f.label 'Kierowca' %><br />
          <%= f.check_box :secretary %> <%= f.label 'Sekretarka' %>
          <br />
          <br />
        <% end %>
        <%= f.submit "Aktualizuj", class: "btn btn-primary" %>

      <% end %>
    </div>

    <%= button_to "Usuń moje konto", registration_path(resource_name), data: { confirm: "Czy jesteś pewien?" }, method: :delete, class: "btn btn-primary" %>
    <br />
    <%= link_to "Powrót", :back, class: "btn btn-default" %>

  </div>
</div>