<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title">Rejestracja</h1>
    <hr>
    <div class="account-wall">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-signin'}) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :firstName%>

        <%= f.text_field :firstName, class: "form-control", autofocus: true %>

        <%= f.label :lastName %>

        <%= f.text_field :lastName, class: "form-control"%>

        <%= f.label :email%>

        <%= f.text_field :email, class: "form-control"%>

        <%= f.label :birthDate %>
        <%= f.date_select :birthDate, {start_year: Time.now.year - 100, end_year: Time.now.year - 10, default: {year: 1980}}, {:class => 'form-control'} %>

        <%= f.label :password %><% if @validatable %><i>(minimalna liczba znaków: <%= @minimum_password_length %>)</i><% end %>

        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <%= f.label :password_confirmation%>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        <% if current_user.try(:owner?) %>
          <%= f.check_box :driver %> <%= f.label 'Kierowca' %><br />
          <%= f.check_box :secretary %> <%= f.label 'Sekretarka' %>
          <br />
          <br />
        <% end %>
        <%= f.submit "Zarejestruj", class: "btn btn-primary" %>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>