<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> cenę</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @stopPrice, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @stopPrice.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @stopPrice.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.label :price %>
        <%= f.text_field :price, type: "number", class: "form-control", required: true %>
        <%= f.label :startStop %>
        <%= f.select :startStop_id, @stops.collect {|a| [a.city_with_place, a.id]}, {}, class: 'form-control' -%>
        <%= f.label :endStop %>
        <%= f.select :endStop_id, @stops.collect {|a| [a.city_with_place, a.id]}, {}, class: 'form-control' -%>
        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', stops_prices_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>