<hr style="margin:40px 0;">

<h1 style="float:left;">Ceny przejazdów</h1>
<%= link_to 'Dodaj', new_stops_price_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Przystanek początkowy</th>
    <th>Przystanek końcowy</th>
    <th>Cena przejazdu</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @stopPrice.order(:id).each do |stopPrice| %>
    <tr>

      <td class="clickable-row" data-href='<%= stops_price_path(stopPrice) %>'><%= stopPrice.startStop.try(:city_with_place) %></td>
      <td class="clickable-row" data-href='<%= stops_price_path(stopPrice) %>'><%= stopPrice.endStop.try(:city_with_place) %></td>
      <td class="clickable-row" data-href='<%= stops_price_path(stopPrice) %>'><%= stopPrice.try(:price) %>zł</td>

      <td><%= link_to 'Edycja', edit_stops_price_path(stopPrice), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', stops_price_path(stopPrice), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>