<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h3><strong>Cena przejazdu</strong></h3>
    <h4><%= @stopPrice.price %></h4>
    <hr />
    <h3><strong>Trasa</strong></h3>
    <h4><%= @stopPrice.startStop.city_with_place %> <strong>-></strong> <%= @stopPrice.endStop.city_with_place %></h4>
    <br />

    <%= link_to 'Edycja', edit_stops_price_path(@stopPrice), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', stops_price_path(@stopPrice), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', stops_prices_path, class: 'btn btn-default' %>
  </div>
</div>