<%= form_for @reward, :html => { :multipart => true, class: 'form-signin'  } do |f| %>

  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2>
        Wystąpiły następujące błędy
      </h2>
      <ul>
        <% @reward.errors.full_messages.each do |msg| %>
          <li>Pole <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :title %><br>
  <%= f.text_field :title, autofocus: true , class: "form-control", required: true %>

  <%= f.label :description %><br>
  <%= f.text_area :description, class: "form-control", required: true %>

  <%= f.label :price %><br>
  <%= f.text_field :price, type: "number", class: "form-control", required: true %>

  <%= f.label :avatar  %><br>
  <%= f.file_field :avatar , accept: "image/*", class: "form-control", required: true %>

  <p>
  <table>
    <tr>
      <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
      <td style="padding-left:5px;"><%= link_to 'Powrót', rewards_path, class: 'btn btn-default' %></td>
    </tr>
  </table>
  </p>
<% end %>