<% content_for (:head) do %>
  <%= stylesheet_link_tag "jquery.Jcrop" %>
  <%= javascript_include_tag "jquery.Jcrop.min" %>
  <script type="text/javascript">
    function update_crop(coords) {
      var ratio = <%= @reward.avatar_geometry(:original).width %> / <%= @reward.avatar_geometry(:large).width %>;
      $('#crop_x').val(Math.floor(coords.x * ratio));
      $('#crop_y').val(Math.floor(coords.y * ratio));
      $('#crop_w').val(Math.floor(coords.w * ratio));
      $('#crop_h').val(Math.floor(coords.h * ratio));
    }
    $(function() {
      $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0, 0, 500, 500],
        aspectRatio: 1.25
      });
    });
  </script>
<% end %>

<%= image_tag @reward.avatar.url(:large), :id => "cropbox" %>

<%= form_for @reward, :html => { :multipart => true } do |form| %>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>
    <%= form.hidden_field attribute, :id => attribute %>
  <% end %>
  <%= form.submit 'Przytnij', class: 'btn btn-primary' %>
<% end %>