<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title">Edytuj nagrodę</h1>
    <hr>
    <div class="account-wall">
      <%= render 'form' %>

    </div>
  </div>
</div>