<hr style="margin:40px 0;">

<h1 style="float:left;">Nagrody</h1>
<%= link_to 'Dodaj nową', new_reward_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Tytuł</th>
    <th>Opis</th>
    <th>Cena</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @rewards.order(:id).each do |reward| %>
    <tr>
      <td class="clickable-row" data-href='<%= reward_path(reward) %>'><%= reward.title %></td>
      <td class="clickable-row" data-href='<%= reward_path(reward) %>'><%= reward.description %></td>
      <td class="clickable-row" data-href='<%= reward_path(reward) %>'><%= reward.price %> pkt.</td>
      <td><%= link_to 'Edycja', edit_reward_path(reward), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', reward_path(reward), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć nagrodę?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>