<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= @reward.try(:title) %></h1>

  </div>
</div>
<!-- /.row -->

<!-- Portfolio Item Row -->
<div class="row">

  <div class="col-md-6">
    <%= image_tag @reward.avatar.url(:large), class: 'img-responsive' %>
  </div>

  <div class="col-md-6">
    <h3>Opis nagrody</h3>
    <p><%= @reward.try(:description) %></p>
    <h3>Cena</h3>
    <h4><%= @reward.try(:price) %> PKT</h4>
    <h3>Działania</h3>

    <% if current_user.try(:owner?) %>

      <%= link_to 'Edycja', edit_reward_path(@reward), class: 'btn btn-primary btn-sm' %>
      <%= link_to 'Usuń', reward_path(@reward), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć nagrodę?'}, class: 'btn btn-primary btn-sm' %>

    <% end %>

    <%= link_to 'Odbierz nagrodę', reward_statuses_path(:reward_status => { :reward_id => @reward.id, user_id: current_user.try(:id)}), :method => :post, class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Powrót', :back , class: 'btn btn-default btn-sm' %>
  </div>

</div>