<hr style="margin:40px 0;">

<h1 style="float:left;">Przystanki</h1>
<%= link_to 'Dodaj', new_stop_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Miasto</th>
    <th>Miejsce</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @stop.order(:id).each do |stop| %>
    <tr>
      <td class="clickable-row" data-href='<%= stop_path(stop) %>'><%= stop.city %></td>
      <td class="clickable-row" data-href='<%= stop_path(stop) %>'><%= stop.place %></td>
      <td><%= link_to 'Edycja', edit_stop_path(stop), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', stop_path(stop), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>