<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h3><strong>Miasto</strong></h3>
    <h4><%= @stop.city %></h4>
    <hr />
    <h3><strong>Miejsce</strong></h3>
    <h4><%= @stop.place %></h4>

    <br />

    <%= link_to 'Edycja', edit_stop_path(@stop), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', stop_path(@stop), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', stops_path, class: 'btn btn-default' %>
  </div>
</div>