<div class="container" id="explain">

  <hr class="content-divider">

  <div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src=<%= image_path("lux_bus.jpg") %>>
    <h2 class="featurette-heading">Komfort
      <span class="text-muted">ponad wszystko</span>
    </h2>
    <p class="lead">Jako firma z wieloletnim doświadczeniem na polskim rynku, pragniemy stowrzyć nową definicję transportu.
      Dlatego w pierwszej kolejności stawiamy na komfort jazdy naszych klientów.
    </p>
  </div>

  <hr class="content-divider">

  <!-- Second Featurette -->
  <div class="featurette" id="services">
    <img class="featurette-image img-circle img-responsive pull-left" src=<%= image_path("vw-bus.jpg") %>>
    <h2 class="featurette-heading">Zawsze na
      <span class="text-muted">czas</span>
    </h2>
    <p class="lead">Podróżując z nami nigdy się nie spóźnisz. Nasze autobusy przyjeżdząją na czas w 99% przypadków.
      <br /> <br />Sprawdź nas, podróżowanie jeszcze nigdy nie było tak proste i przyjemne.</p>
  </div>

</div>