<h2>Cennik</h2>
<hr>
<% @routes.each do |r| %>
  <h4>Trasa <%= r.friendly_name %></h4>
  <table class="table table-striped table-hover">
    <tr><th></th>
      <% r.order_of_stops.order(order: :desc).each do |o| %>
        <th><%= o.stop.city_with_place %></th>
      <% end %>
    </tr>
    <% r.order_of_stops.order(:order).each do |o1| %>
      <% no_prices = false %>
      <tr>
        <td><%= o1.stop.city_with_place %></td>
        <% r.order_of_stops.order(order: :desc).each do |o2| %>
          <td>
            <% if o1 == o2 %>
              X
              <% no_prices = true %>
            <% elsif no_prices == false %>
              <%= o1.stop.stops_prices_start.select {|f| f.endStop_id == o2.stop.id}.first.try(:price) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <hr class="content-divider">
<% end %>