<h1 style="float:left;">Nagrody</h1>

<br /><a href="<%= reward_statuses_path %>" class="btn btn-primary pull-right">Moje statusy nagród</a>

<hr style="clear:both;"/>
<div class="row">

  <% @rewards.each do |r| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(r.avatar.url(:large)), reward_path(r) %>
        <div class="caption">
          <h4 class="pull-right"> <%= r.try(:price) %>PKT</h4>
          <h4><a href="<%= reward_path(r) %>"><%= r.try(:title) %></a>
          </h4>
          <p>
            <% if r.try(:description).length > 100 %>
              <%= r.try(:description)[0..100] %>...
            <% else %>
              <%= r.try(:description) %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>

</div>