<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> rezerwację</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @reservation, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @reservation.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @reservation.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.label 'Godziny odjazdów' %>
        <%= f.select :ride, @rides.collect {|a| [a.startTime.strftime("%k:%M"), a.id]}, {}, class: 'form-control' -%>

        <%= hidden_field_tag 'date[day]', params[:date][:day]%>
        <%= hidden_field_tag 'date[month]', params[:date][:month]%>
        <%= hidden_field_tag 'date[year]', params[:date][:year]%>
        <%= hidden_field_tag 'startStop', params[:startStop]%>
        <%= hidden_field_tag 'endStop', params[:endStop]%>
        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', before_new_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>