<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h1 class="text-center login-title">Wybierz datę planowanego przejazdu</h1>
    <hr>
    <div class="account-wall">
      <form action="/reservations/new" class="form-signin" method="get">


        <%= label_tag 'Data' %>
        <%= select_date Time.now, {start_year: Time.now.year, end_year: Time.now.year + 1}, {:class => 'form-control', required: true} %>
        <%= label_tag 'Przystanek początkowy' %>
        <%= select_tag 'startStop', options_from_collection_for_select(@Stops, "id", "city_with_place"), class: 'form-control' -%>
        <%= label_tag 'Przystanek końcowy' %>
        <%= select_tag 'endStop', options_from_collection_for_select(@Stops, "id", "city_with_place"), class: 'form-control' -%>
        <p>
        <table>
          <tr>
            <td><%= submit_tag 'Sprawdź przejazdy', class: 'btn btn-primary', name: nil%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', reservations_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      </form>

    </div>
  </div>
</div>