<hr style="margin:40px 0;">

<h1 style="float:left;"><% unless current_user.try(:owner?) %><%= "Moje " %><% end %>rezerwacje</h1>
<%= link_to 'Dodaj', before_new_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Data</th>
    <th>Przystanek początkowy</th>
    <th>Przystanek końcowy</th>
    <th>Cena</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @reservation.order(:id).each do |reservation| %>
    <tr>
      <td class="clickable-row" data-href='<%= reservation_path(reservation) %>'><%= "#{reservation.driver_ride.try(:date)} #{reservation.driver_ride.try(:ride).try(:startTime).try(:strftime, "%k:%M")}" %></td>
      <td class="clickable-row" data-href='<%= reservation_path(reservation) %>'><%= reservation.stops_price.try(:startStop).try(:city_with_place) %></td>
      <td class="clickable-row" data-href='<%= reservation_path(reservation) %>'><%= reservation.stops_price.try(:endStop).try(:city_with_place) %></td>
      <td class="clickable-row" data-href='<%= reservation_path(reservation) %>'><%= reservation.stops_price.try(:price) %></td>
      <td><% if reservation.payment_status == false %><%= link_to 'Zapłać', payment_path({ reservation_id: reservation.id}), :method => :post, class: 'btn btn-default btn-sm' %><% end %></td>
      <td><%= link_to 'Anuluj rezerwację', reservation_path(reservation), method: :delete, data: { confirm: 'Czy na pewno chcesz anulować rezerwację?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>