<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h3><strong>Osoba</strong></h3>
    <h4><%= @reservation.user.try(:friendly_name) %></h4>
    <hr />
    <h3><strong>Przejazd</strong></h3>
    <h4><%= @reservation.driver_ride.date %></h4>
    <hr />
    <h3><strong>Cena</strong></h3>
    <h4><%= @reservation.stops_price.try(:price) %></h4>
    <br />

    <%= link_to 'Anuluj rezerwację', reservation_path(@reservation), method: :delete, data: { confirm: 'Czy na pewno chcesz anulować rezerwację?'}, class: 'btn btn-primary btn-sm' %>
    <% if @reservation.payment_status == false %>
      <%= link_to 'Zapłać', payment_path({ reservation_id: @reservation.id}), :method => :post, class: 'btn btn-primary' %>
    <% end %>
    <%= link_to 'Powrót', reservations_path, class: 'btn btn-default' %>
  </div>
</div>