<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> pojazd</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @refueling, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @refueling.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @refueling.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.label 'Pojazd' %>
        <%= f.select :vehicle_id, @vehicles.collect {|a| [a.friendly_name, a.id]}, {}, class: 'form-control' -%>

        <%= f.label 'Pojemnosc' %>
        <%= f.text_field :capacity, type: "number" , class: "form-control", required: true %>

        <%= f.label 'Cena za litr' %>
        <%= f.text_field :price , class: "form-control", required: true %>



        <%= f.label 'Data' %>
        <%= f.date_select :date, :value => Time.now.strftime('%Y-%m-%d') , class: "form-control", required: true %>

        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', refuelings_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>