<hr style="margin:40px 0;">

<h1 style="float:left;">Tankowania</h1>
<%= link_to 'Dodaj', new_refueling_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="..."/>

<table class="table table-striped table-hover">
  <tr>
    <th>Pojazd</th>
    <th>Pojemnosc</th>
    <th>Cena za litr</th>
    <th>Cena laczna</th>
    <th>Data tankowania</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @refueling.order(:date).each do |refueling| %>
    <tr>

      <td class="clickable-row" data-href='<%= refueling_path(refueling) %>'><%= refueling.vehicle.friendly_name %></td>
      <td class="clickable-row" data-href='<%= refueling_path(refueling) %>'><%= refueling.capacity %> l</td>
      <td class="clickable-row" data-href='<%= refueling_path(refueling) %>'><%= refueling.price %> zl/l</td>
      <td class="clickable-row" data-href='<%= refueling_path(refueling) %>'><%= refueling.price * refueling.capacity %> zl</td>
      <td class="clickable-row" data-href='<%= refueling_path(refueling) %>'><%= refueling.date %></td>

      <td><%= link_to 'Edycja', edit_refueling_path(refueling), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', refueling_path(refueling), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>