<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h3><strong>Pojazd</strong></h3>
    <h4><%= @refueling.vehicle.friendly_name %></h4>
    <hr />
    <h3><strong>Pojemnosc</strong></h3>
    <h4><%= @refueling.capacity %></h4>
    <hr />
    <h3><strong>Cena tankowania</strong></h3>
    <h4><%= @refueling.price * @refueling.capacity %></h4>
    <hr />
    <h3><strong>Cena za litr</strong></h3>
    <h4><%= @refueling.price %></h4>
    <h3><strong>Data tankowania</strong></h3>
    <h4><%= @refueling.date %></h4>
    <br />

    <%= link_to 'Edycja', edit_refueling_path(@refueling), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', refueling_path(@refueling), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', refuelings_path, class: 'btn btn-default' %>
  </div>
</div>