
<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h1 class="text-center login-title">Zaloguj się</h1>
    <hr>
    <div class="account-wall">
      <img class="profile-img" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"
           alt="">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>

        <%= f.email_field :email, autofocus: true , class: "form-control", placeholder:'Email', required: true %>

        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder:'Hasło', required: true %>


        <%= f.submit "Zaloguj", class: 'btn btn-lg btn-primary btn-block' %>

        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>


      <% end %>

    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>