<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> status nagrody</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @reward_status, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @reward_status.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @reward_status.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.label 'Status' %>

        <%= f.select :status, options_for_select([['Oczekuje na rozpatrzenie', 1], ['Oczekuje na wysyłkę', 2], ['Wysłano', 3]], :status),{}, class: 'form-control' %>
        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', reward_statuses_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>