<hr style="margin:40px 0;">

<h1 style="float:left;">Statusy nagród</h1>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Nagroda</th>
    <th>Użytkownik</th>
    <th>Status</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @reward_status.order(:id).each do |reward_status| %>
    <tr>
      <td class="clickable-row" data-href='<%= reward_status_path(reward_status) %>'><%= reward_status.reward.try(:title) %></td>
      <td class="clickable-row" data-href='<%= reward_status_path(reward_status) %>'><%= reward_status.user.try(:friendly_name) %></td>
      <td class="clickable-row" data-href='<%= reward_status_path(reward_status) %>'><%= reward_status.try(:status_name) %></td>
      <td><%= link_to 'Edycja', edit_reward_status_path(reward_status), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', reward_status_path(reward_status), method: :delete, data: { confirm: 'Uwaga, po usunięciu nie będzie możliwości dalszego podglądu statusu. Czy napewno usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>