<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h3><strong>Nagroda</strong></h3>
    <h4><%= @reward_status.reward.try(:title) %></h4>
    <hr />
    <h3><strong>Użytkownik</strong></h3>
    <h4><%= @reward_status.user.try(:friendly_name) %></h4>
    <hr />
    <h3><strong>Status</strong></h3>
    <h4><%= @reward_status.try(:status_name) %></h4>
    <br />

    <%= link_to 'Edycja', edit_reward_status_path(@reward_status), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', reward_status_path(@reward_status), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', reward_statuses_path, class: 'btn btn-default' %>
  </div>
</div>