<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> trasę</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @route, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @route.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @route.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <h3>Przystanki</h3>
        <%= f.fields_for :order_of_stops do |builder| %>
          <%= render "order_of_stop_fields", :f => builder %>
        <% end %>
        <%= link_to_add_fields "Dodaj przystanek", f, :order_of_stops %>

        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', routes_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>