<p>
  <%= f.label 'Przystanek' %>
  <%= f.select :stop_id, @stops.collect {|a| [a.city_with_place, a.id]}, {}, class: 'form-control' -%>
  <%= f.label 'Kolejność' %><br />
  <%= f.text_field :order, type: "number", class: "form-control" %>
  <%= f.label 'Czas od głownego przystanku w min.' %><br />
  <%= f.text_field :time, type: "number", class: "form-control" %>
  <%= link_to_remove_fields "usuń", f %>
</p>