<hr style="margin:40px 0;">

<h1 style="float:left;">Trasy</h1>
<%= link_to 'Dodaj', new_route_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Przystanek początkowy</th>
    <th>Przystanek końcowy</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @route.order(:id).each do |route| %>
    <tr>
      <td class="clickable-row" data-href='<%= route_path(route) %>'><%= route.order_of_stops.order(:order).first.try(:stop).try(:city_with_place) %></td>
      <td class="clickable-row" data-href='<%= route_path(route) %>'><%= route.order_of_stops.order(:order).last.try(:stop).try(:city_with_place) %></td>
      <td><%= link_to 'Edycja', edit_route_path(route), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', route_path(route), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>