
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h3><strong>Trasa</strong></h3>
    <h4><% @route.order_of_stops.order(:order).each do |o| %>
        <% if o == @route.order_of_stops.order(:order).first or o == @route.order_of_stops.order(:order).last %>
          <strong><%= "#{o.order} - #{o.stop.city_with_place}" %></strong>
        <% else %>
          <%= "#{o.order} - #{o.stop.city_with_place}" %>
        <% end %>
        <br />
      <% end %></h4>
    <hr />

    <br />

    <%= link_to 'Edycja', edit_route_path(@route), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', route_path(@route), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', routes_path, class: 'btn btn-default' %>
  </div>
</div>