<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> pojazd</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @vehicle, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @vehicle.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @stop.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.label 'Marka' %>
        <%= f.text_field :brand, autofocus: true , class: "form-control", required: true %>

        <%= f.label 'Model' %>
        <%= f.text_field :model, autofocus: true , class: "form-control", required: true %>

        <%= f.label 'Opis' %>
        <%= f.text_field :description, autofocus: true , class: "form-control", required: true %>

        <%= f.label 'Przebieg' %>
        <%= f.text_field :mileage, autofocus: true , class: "form-control", required: true %>

        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', vehicles_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>