<hr style="margin:40px 0;">

<h1 style="float:left;">Pojazdy</h1>
<%= link_to 'Dodaj', new_vehicle_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Marka</th>
    <th>Model</th>
    <th>Opis</th>
    <th>Przebieg</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @vehicle.order(:id).each do |vehicle| %>
    <tr>

      <td class="clickable-row" data-href='<%= vehicle_path(vehicle) %>'><%= vehicle.brand %></td>
      <td class="clickable-row" data-href='<%= vehicle_path(vehicle) %>'><%= vehicle.model %></td>
      <td class="clickable-row" data-href='<%= vehicle_path(vehicle) %>'><%= vehicle.description %></td>
      <td class="clickable-row" data-href='<%= vehicle_path(vehicle) %>'><%= vehicle.mileage %>km</td>

      <td><%= link_to 'Edycja', edit_vehicle_path(vehicle), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', vehicle_path(vehicle), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>