<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h3><strong>Marka</strong></h3>
    <h4><%= @vehicle.brand %></h4>
    <hr />
    <h3><strong>Model</strong></h3>
    <h4><%= @vehicle.model %></h4>
    <h3><strong>Opis</strong></h3>
    <h4><%= @vehicle.description %></h4>
    <hr />
    <h3><strong>Przebieg</strong></h3>
    <h4><%= @vehicle.mileage %></h4>

    <br />

    <%= link_to 'Edycja', edit_vehicle_path(@vehicle), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', vehicle_path(@vehicle), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', vehicles_path, class: 'btn btn-default' %>
  </div>
</div>