/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

$bgDefault      : #9b59b6
$bgHighlight    : #8e44ad
$colDefault     : #ecf0f1
$colHighlight   : #ecdbff

a:focus
  outline: none

button:focus
  outline: 0 !important

html
  height: 100%

body
  height: 100%
  margin-top: 50px

label
  margin-top: 5px
  margin-bottom: 5px

.btn-primary
  background-color: $bgDefault
  border-color: $bgHighlight
  &:hover, &:focus, &:active
    background-color: $bgHighlight
    border-color: $bgHighlight

.clickable-row
  cursor: pointer

.alert-custom
  margin-bottom: 0px

.carousel h2
  text-shadow: 10px 10px 10px #000

.content-divider
  margin: 80px 0

.featurette
  overflow: hidden

.featurette-image
  &.pull-left
    margin-right: 40px
  &.pull-right
    margin-left: 40px

.featurette-heading
  font-size: 50px


$dropDown       : true
.navbar-default
  background-color: $bgDefault
  border-color: $bgHighlight
  .navbar-brand
    color: $colDefault
    &:hover, &:focus
      color: $colHighlight
  .navbar-text
    color: $colDefault
  .navbar-nav
    > li
      > a
        color: $colDefault
        &:hover, &:focus
          color: $colHighlight
      @if $dropDown
        > .dropdown-menu
          background-color: $bgDefault
          > li > a
            color: $colDefault
            &:hover, &:focus
              color: $colHighlight
              background-color: $bgHighlight
          .divider
            background-color: $bgHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
    > .open
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
  .navbar-toggle
    border-color: $bgHighlight
    &:hover, &:focus
      background-color: $bgHighlight
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
  .navbar-form
    border-color: $colDefault
  .navbar-link
    color: $colDefault
    &:hover
      color: $colHighlight
@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $colHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight


.carousel
  height: 40%
  margin-bottom: 30px

.item, .active
  height: 100%

.carousel-inner
  height: 100%
  > .item > img
    margin: 0 auto

/* Background images are set within the HTML using inline CSS, not here

.fill
  width: 100%
  height: 100%
  background-position: center
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover

footer
  margin: 50px 0

.account-wall
  margin-top: 20px
  padding: 40px 0px 20px 0px
  background-color: #f7f7f7
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)

.login-title
  color: #555
  font-size: 24px
  font-weight: 400
  display: block

.profile-img
  width: 96px
  height: 96px
  margin: 0 auto 10px
  display: block
  -moz-border-radius: 50%
  -webkit-border-radius: 50%
  border-radius: 50%

.form-signin
  max-width: 500px
  padding: 15px
  margin: 0 auto
  .form-signin-heading
    margin-bottom: 10px
  .checkbox
    margin-bottom: 10px
    font-weight: normal
  .form-control
    position: relative
    font-size: 15px
    height: auto
    padding: 7px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    &:focus
      z-index: 2
  input
    &[type="text"]
      margin-bottom: -1px
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
    &[type="password"]
      margin-bottom: 10px
      border-top-left-radius: 0
      border-top-right-radius: 0

.thumbnail
  padding: 0
  .caption-full
    padding: 9px
    color: #333
  img
    width: 100%

.caption
  height: 130px
  overflow: hidden
  h4
    white-space: nowrap

.portfolio-item
  margin: 20px