<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> godziny pracy</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @sh, url: secretary_hours_path, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @sh.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @sh.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.label :user %>
        <%= f.select :user_id, @users.collect {|a| [a.friendly_name, a.id]}, {}, class: 'form-control' -%>
        <%= f.label :start %>
        <%= f.time_select :start %>
        <br />
        <%= f.label :end %>
        <%= f.time_select :end %><br />
        <%= f.label :weekdays %><br />
        <% for weekday in @weekDays %>
          <div>
            <%= check_box_tag "secretary_hours[week_day_ids][]", weekday.id, @sh.week_days.include?(weekday) %>
            <%= weekday.day %>
          </div>
        <% end %>


        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', stops_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>