<hr style="margin:40px 0;">

<h1 style="float:left;">Godziny pracy sekretarek</h1>
<%= link_to 'Dodaj', new_secretary_hour_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Pracownik</th>
    <th>Początek</th>
    <th>Koniec</th>
    <th>Dni tygodnia</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @sh.order(:id).each do |sh| %>
    <tr>
      <td class="clickable-row" data-href='<%= secretary_hour_path(sh) %>'><%= sh.try(:user).try(:friendly_name) %></td>
      <td class="clickable-row" data-href='<%= secretary_hour_path(sh) %>'><%= sh.try(:start).try(:strftime, "%k:%M") %></td>
      <td class="clickable-row" data-href='<%= secretary_hour_path(sh) %>'><%= sh.try(:end).try(:strftime, "%k:%M") %></td>
      <td class="clickable-row" data-href='<%= secretary_hour_path(sh) %>'><% sh.week_days.each { |w| %> <%= w.friendly_name %> <% } %></td>
      <td><%= link_to 'Edycja', edit_secretary_hour_path(sh), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', secretary_hour_path(sh), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>