<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4">
    <h3><strong>Pracownik</strong></h3>
    <h4><%= @sh.try(:user).try(:strftime, "%k:%M") %></h4>
    <hr />
    <h3><strong>Początek</strong></h3>
    <h4><%= @sh.try(:start).try(:strftime, "%k:%M") %></h4>
    <hr />
    <h3><strong>Koniec</strong></h3>
    <h4><%= @sh.try(:end).try(:strftime, "%k:%M") %></h4>
    <hr />
    <h3><strong>Dni tygodnia</strong></h3>
    <h4>
      <% @sh.week_days.each do |w| %>
        <%= w.day %>
        <br />
      <% end %></h4>
    <br />

    <%= link_to 'Edycja', edit_secretary_hour_path(@sh), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', secretary_hour_path(@sh), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', secretary_hours_path, class: 'btn btn-default' %>
  </div>
</div>