<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h1 class="text-center login-title"><%= yield(:action) %> przejazd</h1>
    <hr>
    <div class="account-wall">
      <%= form_for @ride, :html => { :multipart => true, class: 'form-signin' } do |f| %>

        <% if @ride.errors.any? %>
          <div id="error_explanation">
            <h2>
              Wystąpiły następujące błędy
            </h2>
            <ul>
              <% @ride.errors.full_messages.each do |msg| %>
                <li>Pole <%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


        <%= f.label :startTime %> <br />
        <%= f.time_select :startTime, type: "number", class: "form-control", required: true %><br />
        <%= f.label :weekdays %><br />
        <% for weekday in @weekDays %>
          <div>
            <%= check_box_tag "ride[week_day_ids][]", weekday.id, @ride.week_days.include?(weekday) %>
            <%= weekday.day %>
          </div>
        <% end %>
        <%= f.label :route %>
        <%= f.select :route_id, @routes.collect {|a| [a.friendly_name, a.id]}, {}, class: 'form-control' -%>
        <%= f.label :vehicle %>
        <%= f.select :vehicle_id, @vehicles.collect {|a| [a.friendly_name, a.id]}, {}, class: 'form-control' -%>
        <p>
        <table>
          <tr>
            <td><%= f.submit 'Zapisz', class: 'btn btn-primary'%></td>
            <td style="padding-left:5px;"><%= link_to 'Powrót', rides_path, class: 'btn btn-default' %></td>
          </tr>
        </table>
        </p>
      <% end %>

    </div>
  </div>
</div>