<hr style="margin:40px 0;">

<h1 style="float:left;">Przejazdy</h1>
<%= link_to 'Dodaj', new_ride_path, class: 'btn btn-primary', style: 'float:right; margin-top:25px;' %>

<hr style="clear:both;"/>

<table class="table table-striped table-hover">
  <tr>
    <th>Czas przejazdu</th>
    <th>Dni tygodnia</th>
    <th>Trasa</th>
    <th>Pojazd</th>
    <th style="width:5%;"></th>
    <th style="width:5%;"></th>
  </tr>
  <% @ride.order(:id).each do |ride| %>
    <tr>

      <td class="clickable-row" data-href='<%= ride_path(ride) %>'><%= "#{ride.startTime.strftime("%k:%M")} - #{(ride.startTime + ride.route.order_of_stops.order(:order).last.time * 60).strftime("%k:%M")}" %></td>
      <td class="clickable-row" data-href='<%= ride_path(ride) %>'><% ride.week_days.each { |w| %> <%= w.friendly_name %> <% } %></td>
      <td class="clickable-row" data-href='<%= ride_path(ride) %>'><%= ride.route.friendly_name %></td>
      <td class="clickable-row" data-href='<%= ride_path(ride) %>'><%= ride.vehicle.friendly_name %></td>
      <td><%= link_to 'Edycja', edit_ride_path(ride), class: 'btn btn-default btn-sm' %></td>
      <td><%= link_to 'Usuń', ride_path(ride), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %></td>
    </tr>
  <% end %>
</table>