<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3">
    <h3><strong>Czas odjazdu</strong></h3>
    <h4><%= "#{@ride.startTime.strftime("%k:%M")}" %></h4>
    <hr />
    <h3><strong>Trasa</strong></h3>
    <h4><%= @ride.route.friendly_name %></h4>
    <hr />
    <h3><strong>Pojazd</strong></h3>
    <h4><%= @ride.vehicle.friendly_name %></h4>
    <hr />
    <h3><strong>Dni tygodnia</strong></h3>
    <h4>
      <% @ride.week_days.each do |w| %>
        <%= w.day %>
        <br />
      <% end %></h4>
    <br />

    <%= link_to 'Edycja', edit_ride_path(@ride), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Usuń', ride_path(@ride), method: :delete, data: { confirm: 'Czy na pewno chcesz usunąć?'}, class: 'btn btn-primary btn-sm' %>

    <%= link_to 'Powrót', rides_path, class: 'btn btn-default' %>
  </div>
</div>