<footer>
  <div class="container">
    <hr style="margin: 20px 0">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Michal 2017</p>
      </div>
    </div>
  </div>
</footer>

<script>
  $('.carousel').carousel({
    interval: 5000 //changes the speed
  })
  // clickable table row
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.document.location = $(this).data("href");
    });
  });
</script>