<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top affix" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'KK-Bus', root_path, :class => 'navbar-brand' %> <!--image_tag("img/brand.png", :border=>0, :class => 'logo-top') -->
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Cennik', price_list_path %></li>
        <li><%= link_to 'Nagrody', rewards_list_path %></li>
        <% if user_signed_in? %><li><%= link_to 'Rezerwacja', reservations_path %></li><% end %>
        <% if current_user.try(:secretary?) or current_user.try(:driver?) or current_user.try(:owner?)%><li><%= link_to 'Przejazdy kierowców', driver_rides_path %></li><% end %>
        <% if current_user.try(:driver?) %><li><a href="<%= refuelings_path %>">Tankowania</a></li><% end %>
        <% if current_user.try(:owner?) %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Panel administratora<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%= rewards_path %>">Nagrody</a></li>
              <li><a href="<%= stops_path %>">Przystanki</a></li>
              <li><a href="<%= stops_prices_path %>">Ceny przejazdów</a></li>
              <li><a href="<%= refuelings_path %>">Tankowania</a></li>
              <li><a href="<%= routes_path %>">Trasy</a></li>
              <li><a href="<%= vehicles_path %>">Pojazdy</a></li>
              <li><a href="<%= rides_path %>">Przejazdy</a></li>
              <li><a href="<%= reward_statuses_path %>">Statusy nagród</a></li>
              <li><a href="<%= secretary_hours_path %>">Godziny pracy sekretarek</a></li>
              <li><a href="<%= new_user_registration_path %>">Dodawanie użytkownika</a></li>
            </ul>
          </li>
        <% end %>

      </ul>

      <div class="navbar-text navbar-nav navbar-right">
        <% if user_signed_in? %>
          <strong><%= link_to current_user.firstName + " " + current_user.lastName, edit_user_registration_path, :class => 'navbar-link' %></strong>
          <%= link_to "Pkt: #{current_user.points}", rewards_list_path, :class => 'navbar-link' %> |
          <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Rejestracja", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Logowanie", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </div>
    </div>

  </div>
  <!-- /.container -->
</nav>