<!-- Half Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-image:url(<%= image_path("slide02.jpg") %>);"></div>
      <div class="carousel-caption">
        <h2>Zaufało nam już ponad milion klientów</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url(<%= image_path("slide03.jpg") %>);"></div>
      <div class="carousel-caption">
        <h2>Z nami zawsze dotrzesz do celu</h2>
      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url(<%= image_path("slide04.jpg") %>);"></div>
      <div class="carousel-caption">
        <h2>I nigdy się nie zgubisz</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>

</header>