<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<%=render 'layouts/header' %>
<body>
<%=render 'layouts/navbar' %>
<%=render 'layouts/notifications' %>

<%=render 'layouts/slider' %>

<div class="container">
<%= yield %>
</div>

<%=render 'layouts/footer' %>

</body>
</html>